body {
    background-color: #1b1b21;
    
    font-family: 'Courier New', Courier, monospace;
    color:#cecece;

    text-align: center;
}

aside {
    float: left;
    width: 25%;
    padding: 2%;
}

section {
    float: right;
    width: 65%;
    padding: 2%;
}

footer {
    float: left;
    width: 100%;
}

#asidemain {
    width: 60%;
}

#chart {
    width: 100%;
}