body {
    background-color: #151e26;
    
    font-family: 'Courier New', Courier, monospace;
    color:#cecece;

    text-align: center;
}

aside {
    float: left;
    width: 25%;
    padding: 2%;
}

section {
    float: right;
    width: 65%;
    padding: 2%;
    padding-top: 0;
}

footer {
    float: left;
    width: 100%;
}

#nav {
    padding-top: 0;
    padding-bottom: 0;
}

#banner {
    width: 30%;
}

#asidemain {
    width: 40%;
}

#nav li {
    display: inline-block;

    list-style-type: none;

    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

#nav li a {
    color:white;
    font-size:x-large;
}

#chart {
    width: 100%;
}

#sectionmain {
    float: right;
    width: 20%;
}